@import "tailwindcss";

:root {
  /* Colors */
  --primary: #0F5FFE;
  --primary-foreground: #FFFFFF;
  --secondary: #333333;
  --secondary-foreground: #FFFFFF;
  --background: #F5F5F5;
  --foreground: #333333;
  --card: #FFFFFF;
  --card-foreground: #111111;
  --muted: #F2F3F0;
  --muted-foreground: #5B5F66;
  --accent: #F2F3F0;
  --accent-foreground: #111111;
  --destructive: #A62911;
  --destructive-foreground: #FFFFFF;
  --border: #E1E2E5;
  --input: #9DA4B3;
  --ring: #E1E2E5;
  --sidebar: #FFFFFF;
  --sidebar-foreground: #5B5F66;
  --sidebar-accent: #333333;
  --sidebar-accent-foreground: #F5F5F5;
  --sidebar-border: #E1E2E5;
  --sidebar-primary: #0F5FFE;
  --sidebar-primary-foreground: #002266;

  /* Semantic colors */
  --color-success: #DDF0C9;
  --color-success-foreground: #1A3300;
  --color-warning: #F5E6D7;
  --color-warning-foreground: #663300;
  --color-error: #F5D7F3;
  --color-error-foreground: #66005E;
  --color-info: #C9D6F0;
  --color-info-foreground: #001133;

  /* Radius */
  --radius-none: 0px;
  --radius-xs: 2px;
  --radius-pill: 999px;
}

@layer base {
  html, body {
    height: 100%;
  }

  .font-primary {
    font-family: "Roboto", sans-serif;
  }

  .font-secondary {
    font-family: "Roboto Mono", monospace;
  }

  .icon-lucide {
    font-family: "lucide";
    font-style: normal;
    font-weight: normal;
  }
}
